<!DOCTYPE html>
<html
  x-data
  :data-theme="$store.theme.darkMode ? 'dark' : 'winter'"
  th:lang="|${#locale.language}-${#locale.country}|"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="layout(content)"
>
<head th:replace="~{layout/_head :: head-content}"></head>
<body x-data="dashboardApp()" x-init="$store.theme.init()">
  <div class="drawer">
    <input id="main-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">

      <div class="flex flex-col min-h-screen">
        <nav th:replace="~{layout/_nav :: nav-content}"></nav>

        <!-- 메인 컨텐츠 영역 -->
        <main class="flex-grow bg-base-200/30">
            <!-- Page Content - passed as fragment parameter -->
            <th:block th:replace="${content}"></th:block>
        </main>

        <footer th:replace="~{layout/_footer :: footer-content}"></footer>
      </div>

    </div>
    <div th:replace="~{layout/_nav :: drawer-side-content}"></div>

    <div th:replace="~{layout/_modals :: modals-content}"></div>
    <div th:replace="~{layout/_scripts :: scripts-content}"></div>
</body>
</html>
